// Colores light theme
$accent-color: #FFB568;
$first-color: #2B2B2B;
$first-color-alt: #363636;
$title-color: #2E2E2E;
$text-color: #595959;
$text-color-light: #8C8C8C;
$body-color: #FCFCFC;
$container-color: #F0F0F0;
$border-color: #FFF;

// Colores dark theme
$accent-color: #EFBE8A;
$first-color: #3D3D3D;
$first-color-alt: #474747;
$title-color: #F2F2F2;
$text-color: #BFBFBF;
$text-color-light: #8C8C8C;
$body-color-dark: #1F1F1F;
$container-color-dark: #292929;
$border-color-dark: #333;

